<div class="link-wrapper-mobile" id="link-wrapper-mobile">
    <style scoped>
        #link-wrapper-mobile a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
        }

        #link-wrapper-mobile a:hover, a:focus {
        color: var(--clr-a-text-hvr);
        }
    </style>
    <!-- <nobr><a href="https://scholar.google.com/citations?user=zR6afi8AAAAJ"><i class="fa-solid fa-user-graduate"></i> Google Scholar</a>
    <span style="margin-left: 5px;"></span></nobr> -->
    <nobr><a href="/cv.pdf"><i class="fa-regular fa-circle-user"></i> CV</a>
    <span style="margin-left: 8px;"></span></nobr>
    <nobr><a href="https://github.com/Jawing" rel="me"><i class="fa-brands fa-github"></i> GitHub</a>
    <span style="margin-left: 8px;"></span></nobr>
    <nobr><a href="https://linkedin.com/in/jizhou-wang" rel="me"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
    <span style="margin-left: 8px;"></span></nobr>
    <nobr><a href="https://youtube.com/Jawing" rel="me"><i class="fa-brands fa-youtube"></i> YouTube</a></nobr>
    <span style="margin-left: 8px;"></span></nobr>
    <nobr><a href="https://www.instagram.com/jizhou_w" rel="me"><i class="fa-brands fa-instagram"></i> Instagram</a></nobr>
    <span style="margin-left: 8px;"></span></nobr>
    <nobr><a href="/blog"><i class="fa-solid fa-pen"></i> Blog</a></nobr>
    <!-- <span style="margin-left: 5px;"></span></nobr>
    <nobr><a href="https://github.com/BDHU/minimalist"><i class="fa-solid fa-box-archive"></i> Project Repository</a></nobr> -->
</div>